### Starter code for Project 4. 
#### Run these cells before starting the assignment.

#### 1. create BQ dataset:

In [1]:
%env dataset_id=school_enrollments

env: dataset_id=school_enrollments

In [2]:
!bq --location=US mk --dataset $dataset_id

BigQuery error in mk operation: Dataset 'unified-
canyon-397523:school_enrollments' already exists.

#### 2. create and populate BQ tables:

In [3]:
import os

In [4]:
gsutil_cmd = "gsutil ls gs://cs327e-open-access/stanford-school-enrollment/*"
file_listings = os.popen(gsutil_cmd)
dataset="school_enrollments"

for file in file_listings:

    start_index = file.rindex("_") + 1
    end_index = file.rindex(".")
    table = file[start_index:end_index]
    
    if table in ("co", "district", "fl", "ga", "id", "ma", "mo", "ne", "ny", "or", "school", "sd", "wi"):
        print("skipping " + table)
        continue

    bq_cmd = "bq --location=US load --autodetect --skip_leading_rows=1 "\
             "--source_format=CSV " + dataset + "." + table + ' ' + file
    print(bq_cmd)
    
    os.system(bq_cmd)

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ak gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ak.csv

Waiting on bqjob_r2a40bc4947204dae_0000018adeb4af03_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ar gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ar.csv

Waiting on bqjob_r4227d6466f6b70cd_0000018adeb4c39f_1 ... (4s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.az gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_az.csv

Waiting on bqjob_r28f13c8442bc543_0000018adeb4e0da_1 ... (4s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ca gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ca.csv

Waiting on bqjob_r4f1ccd4986817c2f_0000018adeb4fe03_1 ... (10s) Current status: DONE

skipping co
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ct gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ct.csv

Waiting on bqjob_r3b2349fa81a9174d_0000018adeb530eb_1 ... (6s) Current status: DONE

skipping district
skipping fl
skipping ga
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.hi gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_hi.csv

Waiting on bqjob_r397db58141a6c26f_0000018adeb556d4_1 ... (2s) Current status: DONE

skipping id
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.in gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_in.csv

Waiting on bqjob_r5eaf2d373b5c66f3_0000018adeb56b19_1 ... (3s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.la gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_la.csv

Waiting on bqjob_r5be66f1250655397_0000018adeb583d2_1 ... (5s) Current status: DONE

skipping ma
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.md gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_md.csv

Waiting on bqjob_r278212740db809a1_0000018adeb5a4ed_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.mn gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_mn.csv

Waiting on bqjob_r46c7ae77d61a8e9_0000018adeb5b9f7_1 ... (5s) Current status: DONE

skipping mo
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ms gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ms.csv

Waiting on bqjob_r43eaea20e862794c_0000018adeb5db06_1 ... (2s) Current status: DONE

skipping ne
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nh gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nh.csv

Waiting on bqjob_rae5889c5e7118fd_0000018adeb5ef01_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nj gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nj.csv

Waiting on bqjob_r7de3068d36a4bc04_0000018adeb6036a_1 ... (1s) Current status: DONE

BigQuery error in load operation: Error processing job 'unified-
canyon-397523:bqjob_r7de3068d36a4bc04_0000018adeb6036a_1': Error while reading
data, error message: Could not parse 'N' as INT64 for field
ccd_district_high_grade (position 12) starting at location 2800632  with message
'Unable to parse' File: gs://cs327e-open-access/stanford-school-
enrollment/zf406jp4427_nj.csv
Failure details:
- Error while reading data, error message: CSV processing encountered
too many errors, giving up. Rows: 12208; errors: 1; max bad: 0;
error percent: 0
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nm gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nm.csv

Waiting on bqjob_r713c3e195f1a8e9b_0000018adeb61386_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nv gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nv.csv

Waiting on bqjob_r3d0d71b8f0470f03_0000018adeb6281d_1 ... (2s) Current status: DONE

skipping ny
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ok gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ok.csv

Waiting on bqjob_r7f629c7bad929989_0000018adeb63cd4_1 ... (4s) Current status: DONE

skipping or
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.pa gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_pa.csv

Waiting on bqjob_r1cd98b3a167d9bf7_0000018adeb6595a_1 ... (5s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.sc gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_sc.csv

Waiting on bqjob_r1a4dfc99d3dd6ef9_0000018adeb67a65_1 ... (2s) Current status: DONE

skipping school
skipping sd
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.tx gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_tx.csv

Waiting on bqjob_r5047f9fcf5e48713_0000018adeb68f19_1 ... (4s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ut gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ut.csv

Waiting on bqjob_r40d5cb3cc2db527d_0000018adeb6ac4e_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.wa gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_wa.csv

Waiting on bqjob_r3fe6284a49466ed2_0000018adeb6c0bc_1 ... (6s) Current status: DONE

skipping wi
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.wy gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_wy.csv

Waiting on bqjob_r13841c66331cf018_0000018adeb6e871_1 ... (2s) Current status: DONE

#### 3. Find school enrollments by school name, grade level, and year for Texas

In [5]:
!bq show --schema=true $dataset_id.tx

[{"name":"state","type":"STRING","mode":"NULLABLE"},{"name":"county","type":"STRING","mode":"NULLABLE"},{"name":"county_state_id","type":"STRING","mode":"NULLABLE"},{"name":"admin_level","type":"STRING","mode":"NULLABLE"},{"name":"district_nces_id","type":"INTEGER","mode":"NULLABLE"},{"name":"district_state_id","type":"INTEGER","mode":"NULLABLE"},{"name":"district_state_type","type":"STRING","mode":"NULLABLE"},{"name":"district","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_type","type":"STRING","mode":"NULLABLE"},{"name":"ccd_charter","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_lvl","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_low_grade","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_high_grade","type":"STRING","mode":"NULLABLE"},{"name":"school_nces_id","type":"INTEGER","mode":"NULLABLE"},{"name":"school_state_id","type":"FLOAT","mode":"NULLABLE"},{"name":"school","type":"STRING","mode":"NULLABLE"},{"name":"school_state_type","type":"STRING","mode":"NULLABLE"},{"name":"ccd_school_type","type":"STRING","mode":"NULLABLE"},{"name":"ccd_charter_school","type":"BOOLEAN","mode":"NULLABLE"},{"name":"ccd_school_lvl","type":"STRING","mode":"NULLABLE"},{"name":"ccd_school_low_grade","type":"STRING","mode":"NULLABLE"},{"name":"ccd_school_high_grade","type":"STRING","mode":"NULLABLE"},{"name":"year","type":"INTEGER","mode":"NULLABLE"},{"name":"term","type":"STRING","mode":"NULLABLE"},{"name":"grade","type":"STRING","mode":"NULLABLE"},{"name":"white","type":"STRING","mode":"NULLABLE"},{"name":"black","type":"STRING","mode":"NULLABLE"},{"name":"hispanic","type":"STRING","mode":"NULLABLE"},{"name":"native_american","type":"STRING","mode":"NULLABLE"},{"name":"native_american_alaskan_native","type":"STRING","mode":"NULLABLE"},{"name":"asian","type":"STRING","mode":"NULLABLE"},{"name":"native_hawaiian","type":"STRING","mode":"NULLABLE"},{"name":"asian_pacific_islander","type":"STRING","mode":"NULLABLE"},{"name":"native_hawaiian_pacific_islander","type":"STRING","mode":"NULLABLE"},{"name":"pacific_islander","type":"STRING","mode":"NULLABLE"},{"name":"multiracial","type":"STRING","mode":"NULLABLE"},{"name":"unknown_race","type":"STRING","mode":"NULLABLE"},{"name":"male","type":"STRING","mode":"NULLABLE"},{"name":"female","type":"STRING","mode":"NULLABLE"},{"name":"non_binary","type":"STRING","mode":"NULLABLE"},{"name":"unknown_gender","type":"STRING","mode":"NULLABLE"},{"name":"ell","type":"STRING","mode":"NULLABLE"},{"name":"ell_percent","type":"STRING","mode":"NULLABLE"},{"name":"homeless","type":"STRING","mode":"NULLABLE"},{"name":"homeless_percent","type":"STRING","mode":"NULLABLE"},{"name":"low_income","type":"STRING","mode":"NULLABLE"},{"name":"free_and_reduced","type":"STRING","mode":"NULLABLE"},{"name":"free_and_reduced_percent","type":"STRING","mode":"NULLABLE"},{"name":"disability","type":"STRING","mode":"NULLABLE"},{"name":"section_504","type":"STRING","mode":"NULLABLE"},{"name":"total","type":"STRING","mode":"NULLABLE"}]

#### Note: STRING type for "total" column

In [6]:
%%bigquery
select school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != "" and district like '%AUSTIN%'
group by school, grade, year
order by school, grade, year

Query is running:   0%|          |

Downloading:   0%|          |

         school             grade  year  total
0     AKINS H S          grade_10  2020   2160
1     AKINS H S          grade_10  2021   2241
2     AKINS H S          grade_11  2020   1992
3     AKINS H S          grade_11  2021   1989
4     AKINS H S          grade_12  2020   1827
...         ...               ...   ...    ...
1734  ZILKER EL           grade_5  2021    207
1735  ZILKER EL      kindergarten  2020    231
1736  ZILKER EL      kindergarten  2021    189
1737  ZILKER EL  pre_kindergarten  2020     90
1738  ZILKER EL  pre_kindergarten  2021     39

[1739 rows x 4 columns]

##### Documentation on BQ's string functions: https://cloud.google.com/bigquery/docs/reference/standard-sql/string_functions

In [7]:
!bq --location=US mk --dataset "views"

BigQuery error in mk operation: Dataset 'unified-canyon-397523:views' already
exists.

In [8]:
%%bigquery
create view views.austin_enrollments_by_school_grade_year as
select school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != "" and district like '%AUSTIN%'
group by school, grade, year
order by school, grade, year

Executing query with job ID: a277b094-e00e-4147-8144-5cf07129e613
Query executing: 0.38s

ERROR:
 409 Already Exists: Table unified-canyon-397523:views.austin_enrollments_by_school_grade_year

Location: US
Job ID: a277b094-e00e-4147-8144-5cf07129e613

In [9]:
%%bigquery
select * from views.austin_enrollments_by_school_grade_year

Query is running:   0%|          |

Downloading:   0%|          |

         school             grade  year  total
0     AKINS H S          grade_10  2020   2160
1     AKINS H S          grade_10  2021   2241
2     AKINS H S          grade_11  2020   1992
3     AKINS H S          grade_11  2021   1989
4     AKINS H S          grade_12  2020   1827
...         ...               ...   ...    ...
1734  ZILKER EL           grade_5  2021    207
1735  ZILKER EL      kindergarten  2020    231
1736  ZILKER EL      kindergarten  2021    189
1737  ZILKER EL  pre_kindergarten  2020     90
1738  ZILKER EL  pre_kindergarten  2021     39

[1739 rows x 4 columns]

#### 4. Open Data Studio and create a chart from this view:
##### https://datastudio.google.com/

#### Project 4 homework marker. Start homework from here.

In [10]:
%%bigquery
#Pulls all the counties from the school enrollments in california that have a sum country state id's less then 1000 and orders them by county and groups them by state and county.
SELECT state, county 
FROM  school_enrollments.ca 
GROUP BY  ca.state, ca.county 
HAVING SUM (ca.county_state_id)<1000 
ORDER BY ca.county

Query is running:   0%|          |

Downloading:   0%|          |

  state     county
0    CA    Alameda
1    CA     Alpine
2    CA     Amador
3    CA  Del Norte

In [ ]:
%%bigquery
#Pulls all the schools from the school enrollments in Arkansas that have a sum district state id's less then 2000 and orders them by state and groups them by state and school.
SELECT school, state 
FROM  school_enrollments.ak 
GROUP BY  ak.school, ak.state 
HAVING SUM (ak.district_state_id)<2000 
ORDER BY ak.state

Query is running:   0%|          |

Downloading:   0%|          |

In [52]:
%%bigquery
#Pulls all the counties from the school enrollments in Texas that have a sum of district state id's greater then 10000 and orders them by county and groups them by state and county.
SELECT state, county 
FROM  school_enrollments.tx 
GROUP BY  tx.state, tx.county 
HAVING SUM (tx.district_state_id)>10000 
ORDER BY tx.county

Query is running:   0%|          |

Downloading:   0%|          |

    state           county
0      TX  ANDERSON COUNTY
1      TX   ANDREWS COUNTY
2      TX  ANGELINA COUNTY
3      TX   ARANSAS COUNTY
4      TX    ARCHER COUNTY
..    ...              ...
248    TX      WOOD COUNTY
249    TX    YOAKUM COUNTY
250    TX     YOUNG COUNTY
251    TX    ZAPATA COUNTY
252    TX    ZAVALA COUNTY

[253 rows x 2 columns]

In [45]:
%%bigquery
#Pulls all the counties from the school enrollments in Oklahoma that have a sum of district nces id's greater then 10000 and orders them by county and groups them by state and county.
SELECT state, county 
FROM  school_enrollments.ok 
GROUP BY  ok.state, ok.county 
HAVING SUM (ok.district_nces_id)>10000 
ORDER BY ok.county

Query is running:   0%|          |

Downloading:   0%|          |

    state        county
0      OK         ADAIR
1      OK  ADAIR
2      OK       ALFALFA
3      OK  ALFALFA
4      OK         ATOKA
..    ...           ...
148    OK  WASHITA
149    OK         WOODS
150    OK  WOODS
151    OK      WOODWARD
152    OK  WOODWARD

[153 rows x 2 columns]

In [50]:
%%bigquery
#Pulls all the counties from the school enrollments in california that have a country state id less then 1000 and orders them by county and groups them by state and county.
SELECT state, county 
FROM  school_enrollments.ca 
WHERE ca.county_state_id<1000
GROUP BY  ca.state, ca.county  
ORDER BY ca.county

Query is running:   0%|          |

Downloading:   0%|          |

    state   county
0      CA  ALAMEDA
1      CA   ALPINE
2      CA   AMADOR
3      CA  Alameda
4      CA   Alpine
..    ...      ...
111    CA  Ventura
112    CA     YOLO
113    CA     YUBA
114    CA     Yolo
115    CA     Yuba

[116 rows x 2 columns]

In [48]:
%%bigquery
#Pulls all the schools from the school enrollments in Arkansas that have a district state id less then 2000 and orders them by state and groups them by state and school.
SELECT school, state 
FROM  school_enrollments.ak
WHERE ak.district_state_id<2000 
GROUP BY  ak.school, ak.state 
ORDER BY ak.state

Query is running:   0%|          |

Downloading:   0%|          |

                        school state
0                                 AK
1    Anthony A. Andrews School    AK
2        White Mountain School    AK
3       Eagle Community School    AK
4       Metlakatla High School    AK
..                         ...   ...
496        Chignik Lake School    AK
497              Togiak School    AK
498            Shungnak School    AK
499          Whale Pass School    AK
500               Akiak School    AK

[501 rows x 2 columns]

In [22]:
%%bigquery
#Pulls all the counties from the school enrollments in Texas that have a district state id < 40000, district nces id > 800000, and orders them by county and groups them by state and county.
SELECT state, county
FROM  school_enrollments.tx 
WHERE tx.district_state_id<40000 
AND tx.district_nces_id>800000
GROUP BY  tx.state, tx.county
ORDER BY tx.county

Query is running:   0%|          |

Downloading:   0%|          |

   state            county
0     TX   ANDERSON COUNTY
1     TX    ANDREWS COUNTY
2     TX   ANGELINA COUNTY
3     TX    ARANSAS COUNTY
4     TX     ARCHER COUNTY
5     TX  ARMSTRONG COUNTY
6     TX   ATASCOSA COUNTY
7     TX     AUSTIN COUNTY
8     TX     BAILEY COUNTY
9     TX    BANDERA COUNTY
10    TX    BASTROP COUNTY
11    TX     BAYLOR COUNTY
12    TX        BEE COUNTY
13    TX       BELL COUNTY
14    TX      BEXAR COUNTY
15    TX     BLANCO COUNTY
16    TX     BORDEN COUNTY
17    TX     BOSQUE COUNTY
18    TX      BOWIE COUNTY
19    TX   BRAZORIA COUNTY
20    TX     BRAZOS COUNTY
21    TX   BREWSTER COUNTY
22    TX    BRISCOE COUNTY
23    TX     BROOKS COUNTY
24    TX      BROWN COUNTY
25    TX   BURLESON COUNTY
26    TX     BURNET COUNTY
27    TX   CALDWELL COUNTY
28    TX    CALHOUN COUNTY
29    TX   CALLAHAN COUNTY
30    TX    CAMERON COUNTY
31    TX       CAMP COUNTY
32    TX     CARSON COUNTY
33    TX       CASS COUNTY
34    TX     CASTRO COUNTY
35    TX   CHAMBERS COUNTY
36    TX   CHEROKEE COUNTY
37    TX  CHILDRESS COUNTY
38    TX       CLAY COUNTY

In [40]:
%%bigquery
#Pulls all the counties from the school enrollments in Oklahoma that have a district nces id greater then 10000 and orders them by county and groups them by state and county.
SELECT state, county 
FROM  school_enrollments.ca
WHERE ca.district_state_id > 2500
AND ca.district_nces_id > 10000
GROUP BY ca.state, ca.county 
ORDER BY ca.county

Query is running:   0%|          |

Downloading:   0%|          |

    state   county
0      CA  ALAMEDA
1      CA   ALPINE
2      CA   AMADOR
3      CA  Alameda
4      CA   Alpine
..    ...      ...
111    CA  Ventura
112    CA     YOLO
113    CA     YUBA
114    CA     Yolo
115    CA     Yuba

[116 rows x 2 columns]

In [4]:
%%bigquery
#Joins and groups all the oklahoma and los angeles tables from school enrollments by state and county and orders them by state
SELECT
    COALESCE(ok.county, la.county) AS county,
    COALESCE(ok.state, la.state) AS state
FROM  school_enrollments.ok
FULL JOIN school_enrollments.la
ON ok.county = la.county AND ok.state = la.state
GROUP BY county, state
ORDER BY state;

Query is running:   0%|          |

Downloading:   0%|          |

           county state
0                    LA
1          BEAVER    OK
2    GRANT           OK
3    JOHNSTON        OK
4         MCCLAIN    OK
..            ...   ...
149         BRYAN    OK
150     PITTSBURG    OK
151       WASHITA    OK
152  ELLIS           OK
153  TULSA           OK

[154 rows x 2 columns]

In [6]:
%%bigquery
#Joins and groups all the Arizona and Arkansas tables from school enrollments by district and state and orders them by state
SELECT
    COALESCE(az.district, ak.district) AS district,
    COALESCE(az.state, ak.state) AS state
FROM  school_enrollments.az
FULL JOIN school_enrollments.ak
ON az.district = ak.district AND az.state = ak.state
GROUP BY district, state
ORDER BY state;

Query is running:   0%|          |

Downloading:   0%|          |

                                     district state
0                             Skagway Schools    AK
1                              Yupiit Schools    AK
2                         Lower Yukon Schools    AK
3                        Saint Mary's Schools    AK
4                       Bering Strait Schools    AK
..                                        ...   ...
811                    Park View School, Inc.    AZ
812                Pioneer Preparatory School    AZ
813                 Prescott Unified District    AZ
814                 Bouse Elementary District    AZ
815  Pinal Gila Community Child Services, Inc    AZ

[816 rows x 2 columns]